@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=El+Messiri:wght@400..700&display=swap');

@import "tailwindcss";

*{
  font-family: El+Messiri, sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #111010ce;
}
::-webkit-scrollbar-thumb {
  background: #969393;
  border-radius: 8px;
  border: 5px solid #181717ce;
}
@theme